MAPKIT_API_KEY=PASTE_YOUR_YANDEX_MAPKIT_API_KEY_HERE
# UPDATE_INFO_URL=https://raw.githubusercontent.com/OWNER/sector-android/main/update.json
# TELEMETRY_URL=https://telemetry.sector-map.ru
# TELEMETRY_APP_TOKEN=PASTE_TELEMETRY_APP_TOKEN_HERE
